In [ ]:
Introduction to python programming :

In [ ]:
understanding the variables in python :

In [3]:
X = 2
Y = 3

In [6]:
Z = X+Y

print(Z)

5

In [ ]:
Rules for declaring the variables in python :

In [ ]:
Rule No 1 : No Namespaces while declaring the variable name

In [8]:
firstname = 'Devendra'
print(firstname)

Devendra

In [ ]:
Rule No 2 : A variable name should not start with a number **

In [9]:
1name = 'monty'
print(1name)

SyntaxError: invalid decimal literal (862029771.py, line 1)

In [10]:
name1 = 'monty'
print(name1)

monty

In [ ]:
Rule No 3 : A variable name should not contain anyspecial characters.

In [ ]:
@ # $ & *

In [11]:
name@ = 'joseph'
print(name@)

SyntaxError: invalid syntax (2866799071.py, line 1)

In [ ]:
introduction to datatypes :
    1. string ========> str
    2. Numbers ( integers ===> int and Floats (decimals ===> 0.1,0.2)) ====> float
    3. lists ====> list
    4. tuples ====> tuple
    5. Dictionaries =====> dict

In [ ]:
classification of datatypes :
     broadly datatypes are classified in to two categories :
        1. Mutable datatypes ===> which we can edit / alter ===> flexible in nature
        2. immutable datatypes ===> which we cannot be able to edit / alter ===> fixed in nature

In [ ]:
introduction to string datatype :
Defination : A string is nothing but a series of characters declared in qutoes.

Classification : it is classified as an immutable datatype

how to define the string datatype :

    1. single qutoes
    2. double qutoes

In [12]:
name = 'GLA' # single qutoe
print(name)

GLA

In [13]:
name2 = "BSA C" # double qutoe
print(name2)

BSA C

In [ ]:
introduction to string methods :

In [14]:
type(name)

str

In [15]:
type(name2)

str

In [16]:
fullname = "joseph anthony"
print(fullname)

joseph anthony

In [17]:
print(fullname.title())

Joseph Anthony

In [ ]:
# req : i want the entire name in capitals..

In [18]:
print(fullname.upper())

JOSEPH ANTHONY

In [ ]:
# req : i want the entire name in small case letters...

In [19]:
print(fullname.lower())

joseph anthony

In [20]:
print(fullname.proper())

AttributeError: 'str' object has no attribute 'proper'